body {
    background: #000000;
    color: #bdbdbd;
    font-family: "SST Vietnamese","Lucida Grande",Arial,Verdana,Geneva,sans-serif;
    margin: 0; 
    padding: 0;
}

.container-fluid {
    margin-top: 1%;
    margin-bottom: 1%;
}

.row {
    margin-bottom: 1%;
}

.card {
    background: #212121;
    border-radius: 0;
    border: 1px solid #363636;
}

.card-body {
    padding: 0.65rem;
}

.card-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 25%;
    bottom: 0;
    left: 0;
}

.card-overlay .card-overlay-inner {
    background-color: #272727;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin-bottom: 5px;
    margin-left: 5px;
}

h4 {
    font-size: 2vh;
}

h1 {
    font-size: 5vh;
}

.tab-box {
    max-height: 57.2vh;
    overflow-y: scroll;
}

.tab-box-2 {
    height: 38vh;
    overflow-y: scroll;
    font-size: 1.5vh
}

.normal-box {
    height: 11vh;
}

.chart-box {
    height: 37.5vh;
}

.map-box {
    height: 88.5vh;
}

.header-title {
    font-size: 1rem;
    font-weight: bold;
}

.card-title {
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 0;
}

.list-group-item {
    padding: 4px 0px 4px 20px;
    background: #212121;
    border-bottom: 1px solid #5c5c5c;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #5c5c5c;
    -webkit-box-shadow: 0 0 1px #404040
}

.red {
    color: #e60000;
    font-weight: 600;
}

.white {
    color: #ededed;
    font-weight: 600;
}

.green {
    color: #70a800;
    font-weight: 600;
}

iframe {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
}