{% extends 'base.html' %}
{% load settings_value %}

{% block content %}

  <style>
      #map { position: relative; height: 86vh; }
  </style>

  <div class="container-fluid">
    <!-- Header Row -->
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body header-title text-center">
            USA Gun Violence Cases by Anti-Entropy Team
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <!-- Overall Statistics -->
      <div class="col-2 pr-0">
        <div class="row">
          <div class="col pr-0">
            <div class="card">
              <div class="card-body">
                <h4 class="text-center">Total Killed</h4>
                <h2 class="text-center red">{% if total_count %} {{ total_count.total_killed }} {% else %} -- {% endif %}</h2>
                <h4 class="text-center">Total Injured</h4>
                <h2 class="text-center red">{% if total_count %} {{ total_count.total_injured }} {% else %} -- {% endif %}</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col pr-0">
            <div class="card">
              <div class="card-body">
                <div class="card-title text-center">People Harmed by State</div>
              </div>
              <ul class="list-group list-group-flush tab-box-2">
                {% for rank in state_count %}
                  <li class="list-group-item"><span class="red"> {{ rank.total_harm }} </span> {{ rank.state }} </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        <!-- Date Range Selection -->
        <div class="row">
          <div class="col pr-0">
            <div class="card">
              <div class="card-body">
                <form method="post" action="" name='dateform'> {% csrf_token %}
                  {{ date_form.as_table }}
                  <input type="submit" value="Submit" name="querydate"/>
                </form>                    
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body map-box" id="mapid" ondblclick="alterFunc()">
            <div id="map"></div>
          </div>
        </div>
      </div>             

    </div>
  </div>
{% endblock %}

{% block scripts %}

<script>

function alterFunc() {alert("a")}

  mapboxgl.accessToken = 'pk.eyJ1IjoidGhpbmtpbmdyZWVkIiwiYSI6ImNrN2JnODFpMTAzemEzZWxrdjVmMWs1aDgifQ.ilp7OlnOWSrRkVltnP8biQ';
  var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/dark-v10',
      maxzoom: 20,
      maxBounds: [['-133.41939491845818', '23.017523213871456'],['-63.82091914427555', '50.85158440021044']]
  });
     
  map.on('load', function() {

  {% if map_zoom %} map.setZoom({{map_zoom}}); {% endif %}
  {% if map_center %}  map.setCenter({{map_center}}), {% endif %}    

  // Add a geojson point source.
  // Heatmap layers also work with a vector tile source.
  map.addSource('gunviolence', {
      'type': 'geojson',
      'data': {{ points|safe }},
      //cluster: true,
  });

  // Add a source for the state polygons.
  map.addSource('states', {
      'type': 'geojson',
      'data': {{ states|safe }}
  });

  map.addLayer(
      {
        'id': 'states-layer',
        'source': 'states',
        'maxzoom': 9,
        'type': 'fill',
        'paint': {
            'fill-color': [
                'interpolate',
                ['linear'],
                ['get', 'involve'],
                {{state_min}},
                ['to-color', '#eff3ff'],
                {{state_max}},
                ['to-color', '#08519c']
            ],
            'fill-opacity': [
                'interpolate',['linear'],['zoom'],0,1,9,0
            ]
        }
      },
      'waterway-label'
  );
  
  map.addLayer(
      {
        'id': 'gunviolence-point',
        'type': 'circle',
        'source': 'gunviolence',
        'minzoom': 7,
        'paint': {
            'circle-radius': [
                'interpolate',['linear'],['zoom'],7,
                ['interpolate', ['linear'], ['get', 'involve'], 0, 1, 10, 5],24,
                ['interpolate', ['linear'], ['get', 'involve'], 0, 10, 10, 100]
            ],
            'circle-color': [
                'interpolate',
                ['linear'],
                ['get', 'involve'],
                {{case_min}},
                ['to-color', '#eff3ff'],
                {{case_max}},
                ['to-color', '#08519c']
            ],
            'circle-stroke-color': 'white',
            'circle-stroke-width': 1,
            'circle-opacity': [
                'interpolate',['linear'],['zoom'],7,0,9,1
            ]
        }
      },
      'waterway-label'
  );

  map.on('click', 'gunviolence-point', function(e) {
    console.log("gunviolence-point");
    window.location.href = e.features[0].properties.source_url;
  });

  map.on('click', 'states-layer', function(e) {
    console.log("click on states-layer");
    var state = e.features[0].properties.NAME;
  });
  
  // Change the cursor to a pointer when the mouse is over the states layer.
  map.on('mouseenter', 'states-layer', function() {
    map.getCanvas().style.cursor = 'pointer';
  });
  
  // Change it back to a pointer when it leaves.
  map.on('mouseleave', 'states-layer', function() {
    map.getCanvas().style.cursor = '';
  });

  map.on('zoomend', function() {
          var features = map.queryRenderedFeatures({layers:['gunviolence-point']});
          console.log(features);
          console.log(map.getZoom());
          $.ajax({
              type: "GET",
              url: "{% url 'save_map_meta' %}",
              dataType: "json",
              data: {
                  "map_zoom": map.getZoom(),
                  "map_center": map.getCenter().toArray(),
              },
              success: function(data){
                  console.log("success");
                  console.log(data);
              },
              failure: function(data){
                  console.log("failure");
                  console.log(data);
              },
          });
      }
  )

  });
</script>

{% endblock %}