{% extends 'base.html' %}

{% block content %}

<style>
	body { margin: 0; padding: 0; }
	#map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>

<style>
    .map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 25%;
    bottom: 0;
    left: 0;
    padding: 10px;
    }
     
    .map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    }
     
    .map-overlay h2 {
    line-height: 24px;
    display: block;
    margin: 0 0 10px;
    }
     
    .map-overlay .legend .bar {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #fca107, #7f3121);
    }
     
    .map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
    }
    </style>

    <div id="map"></div>

    <!--
        <div class="map-overlay top">
        <div class="map-overlay-inner">
            <form method="post" action="" name='dateform'> {% csrf_token %}
                {{ daterange.as_table }}
                <input type="submit" value="Submit" name="querydate"/>
            </form>
        </div>
    </div>
    -->
    

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoidGhpbmtpbmdyZWVkIiwiYSI6ImNrN2JnODFpMTAzemEzZWxrdjVmMWs1aDgifQ.ilp7OlnOWSrRkVltnP8biQ';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/dark-v10',
            // center: [-88.2272, 40.1020],
            zoom: 0,
            maxzoom: 20,
            maxBounds: [['-133.41939491845818', '23.017523213871456'],['-63.82091914427555', '50.85158440021044']]
        });

        
           
        map.on('load', function() {
        // Add a geojson point source.
        // Heatmap layers also work with a vector tile source.
        map.addSource('gunviolence', {
            'type': 'geojson',
            'data': {{ points|safe }},
            //cluster: true,
        });

        // Add a source for the state polygons.
        map.addSource('states', {
            'type': 'geojson',
            'data': {{ states|safe }}
        });

        map.addLayer(
            {
                'id': 'state-involve',
                'source': 'states',
                'maxzoom': 9,
                'type': 'fill',
                'paint': {
                    'fill-color': [
                        'interpolate',
                        ['linear'],
                        ['get', 'involve'],
                        {{state_min}},
                        ['to-color', '#eff3ff'],
                        {{state_max}},
                        ['to-color', '#08519c']
                    ],
                    'fill-opacity': [
                        'interpolate',['linear'],['zoom'],0,1,9,0
                    ]
                }
            },
            'waterway-label'
        );
        
        map.addLayer(
            {
                'id': 'gunviolence-point',
                'type': 'circle',
                'source': 'gunviolence',
                'minzoom': 7,
                'paint': {
                    'circle-radius': [
                        'interpolate',['linear'],['zoom'],7,
                        ['interpolate', ['linear'], ['get', 'involve'], 0, 1, 10, 5],24,
                        ['interpolate', ['linear'], ['get', 'involve'], 0, 10, 10, 100]
                    ],
                    'circle-color': [
                        'interpolate',
                        ['linear'],
                        ['get', 'involve'],
                        {{case_min}},
                        ['to-color', '#eff3ff'],
                        {{case_max}},
                        ['to-color', '#08519c']
                    ],
                    'circle-stroke-color': 'white',
                    'circle-stroke-width': 1,
                    'circle-opacity': [
                        'interpolate',['linear'],['zoom'],7,0,9,1
                    ]
                }
            },
            'waterway-label'
        );

        map.on('click', 'gunviolence-point', function(e) {
            console.log(e.features[0].properties);
            window.location.replace(e.features[0].properties.source_url);
        });

        /*
        map.on('zoomend', function() {
                var features = map.queryRenderedFeatures({layers:['gunviolence-point']});
                console.log(features);
                console.log(map.getZoom());
            }
        )
        */

        });
    </script>
 
{% endblock %}