<script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

function scrollToID(id) { 
    $('body, html').animate({
        scrollTop: $(`#${id}`).offset().top
      }, 600);
}

function selectArray(arr, ref) {
    return arr.filter(function (x) {
      if ((ref.indexOf(x) != -1) || (ref.length == 0))
        return true;
      else
        return false;
    });
}

function findMinMax(arr, cmp) {
    var min = parseFloat(arr[0]);
    var max = parseFloat(arr[0]);
    for (var i = 0; i < arr.length; i++) {
        if (cmp(max, parseFloat(arr[i]))) max = parseFloat(arr[i]);
        if (cmp(parseFloat(arr[i]), min)) min = parseFloat(arr[i]);
    }
    return { max:max, min:min };
}

</script>
