{% load formset_tags %}
<div id="div_participant_formset" data-formset-prefix="{{ participant_formset.prefix }}">
    {{ participant_formset.management_form }}

    <div data-formset-body>
        <!-- New forms will be inserted in here -->
        {% for form in participant_formset %}
            <div data-formset-form>
                {{ form.as_ul }}
                <button type="button" data-formset-delete-button>Delete form</button>
            </div>
        {% endfor %}
    </div>

    <!-- The empty form template. By wrapping this in a <script> tag, the
    __prefix__ placeholder can easily be replaced in both attributes and
    any scripts -->
    <script type="form-template" data-formset-empty-form>
        {% escapescript %}
            <div data-formset-form>
                {{ participant_formset.empty_form.as_ul }}
                <button type="button" data-formset-delete-button>Delete form</button>
            </div>
        {% endescapescript %}
    </script>

    <!-- This button will add a new form when clicked -->
    <input type="button" value="Add participant" data-formset-add>

    <script>jQuery(function($) {
        $("#div_participant_formset").formset({
            animateForms: true
        });
    });</script>

</div>