<h3>Incident Participants</h3>
{% for form in participant_formset %}
    <div id="participant_form-{{forloop.counter0}}">
        {{ form.as_ul }}
        <button type="button" id="participant_form-{{forloop.counter0}}-delete" onclick="$('#participant_form-{{forloop.counter0}}').remove()">Delete form</button>
    </div>
{% endfor %}
<button type="button" id="participant_formset_add">Add Another</button>

<script>
    participant_form_count = 99
    $("#participant_formset_add").click(function() {
        var delete_id = `participant_form-${participant_form_count}-delete`;
        var form_id = `participant_form-${participant_form_count}`;
        $(`<div id="${form_id}">{{participant_form.as_ul}}` 
        + `<button type="button" id="${delete_id}" onclick="$('#${form_id}').remove()">Delete</button>`
        + '</div>').insertBefore('#participant_formset_add');
        participant_form_count++;
    });
</script>
